persistence:
  type: pvc
  enabled: true
  storageClassName: longhorn-monitoring
  size: 10Gi

adminUser: admin
admin:
  ## Name of the secret. Can be templated.
  existingSecret: "admin-grafana-credentials"
  userKey: admin-user
  passwordKey: admin-password

service:
  enabled: true
  type: ClusterIP

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      access: proxy
      orgId: 1
      url: http://loki-gateway.meta.svc.cluster.local:80
      basicAuth: false
      isDefault: false
      version: 1
      editable: false
