apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-python-script
  annotations:
    argocd.argoproj.io/sync-wave: "5"
data:
  main.py: |
    import logging
    import json
    import os
    import redis
    import sys
    import time
    from datetime import datetime
    
    
    class JsonFormatter(logging.Formatter):
        def format(self, record):
            log_record = {
                "timestamp": datetime.now().astimezone().isoformat(),
                "level": record.levelname,
                "message": record.getMessage(),
            }

            return json.dumps(log_record, ensure_ascii=False)
    
    
    if __name__ == '__main__':
        logger = logging.getLogger()
        handler = logging.StreamHandler(sys.stdout)
        handler.setFormatter(JsonFormatter())
        logger.addHandler(handler)
        logger.setLevel(logging.INFO)

        redis_master = redis.Redis(host='redis-master',
                                   port=6379,
                                   db=0,
                                   password=os.getenv('REDIS_PASSWORD'),
                                   decode_responses=True)
        redis_replica = redis.Redis(host='redis-replicas',
                                    port=6379,
                                    db=0,
                                    password=os.getenv('REDIS_PASSWORD'),
                                    decode_responses=True)
        
        while True:
            start = time.perf_counter_ns()
            try:
                # Try reading from Redis replica.
                name = redis_replica.get('name')
                if name:
                    logger.info(f'Cache hit => {name}')
                    end = time.perf_counter_ns()
                    response_time_ms = (end - start) / 1_000_000
                    logger.warning(f'Response time => {response_time_ms}')
                else:
                    # Store in cache (write to master).
                    name = 'Wim Van den Wyngaert'
                    redis_master.setex('name', 300, name)  # TTL 5 min
                    logger.warning(f'Cache updated with => {name}')
                    end = time.perf_counter_ns()
                    response_time_ms = (end - start) / 1_000_000
                    logger.warning(f'Response time => {response_time_ms}')
            except redis.exceptions.ConnectionError as error:
                logger.error(error)
                end = time.perf_counter_ns()
                response_time_ms = (end - start) / 1_000_000
                logger.warning(f'Response time => {response_time_ms}')
            time.sleep(10)
