apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: crossplane-system

helmCharts:
- name: crossplane
  repo: https://charts.crossplane.io/stable
  version: 2.1.1
  releaseName: crossplane
  namespace: crossplane-system
  includeCRDs: true

resources:
- namespace.yaml
#- providers.yaml
#- functions.yaml
