apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: monitoring-grafana-http-ingress-tailscale
  annotations:
    tailscale.com/funnel: "false"
    argocd.argoproj.io/sync-wave: "10"
spec:
  ingressClassName: tailscale
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: grafana
            port:
              number: 80
  tls:
  - hosts:
    - grafana
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: monitoring-minio-http-ingress-tailscale
  annotations:
    tailscale.com/funnel: "false"
    argocd.argoproj.io/sync-wave: "10"
spec:
  ingressClassName: tailscale
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: loki-minio-console
            port:
              number: 9001
  tls:
  - hosts:
    - minio
