grafana:
  operator:
    defaultDashboardsTimezone: Europe/Brussels
prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
prometheus-node-exporter:
  tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
    effect: "NoExecute"
