grafana:
  defaultDashboardsTimezone: Europe/Brussels
  persistence:
    enabled: true
    storageClassName: longhorn-monitoring
    size: 10Gi

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-monitoring
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 25Gi

prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false

prometheus-node-exporter:
  tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
    effect: "NoExecute"
