apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- ingress.yaml
#- test.yaml

helmCharts:
- name: longhorn
  repo: https://charts.longhorn.io
  version: 1.10.1
  releaseName: longhorn
  namespace: longhorn-system
