ports:
  web:
    port: 80
    nodePort: 30000
  websecure:
    port: 443
    nodePort: 30001
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`raspberrypi5.local`)
    entryPoints:
    - web
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
