service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: 192.168.1.10

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`raspberrypi5.local`)
    entryPoints:
    - web

ingressClass:
  isDefaultClass: false

providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

logs:
  access:
    enabled: true
