service:
  type: NodePort

ports:
  web:
    port: 80
    nodePort: 30080
  websecure:
    port: 443
    nodePort: 30443

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`raspberrypi5.local`)
    entryPoints:
    - web

logs:
  access:
    enabled: true
