apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-python-script
  annotations:
    argocd.argoproj.io/sync-wave: "5"
data:
  main.py: |
    import os
    import redis
    
    r = redis.Redis(host='redis-replicas',
                    port=6379,
                    db=0,
                    password=os.getenv('REDIS_PASSWORD'),
                    decode_responses=True)
    name = r.get('name')
    print(f'Name: {name}')
