apiVersion: v1
kind: Service
metadata:
  name: redis-master-lb
  annotations:
    tailscale.com/expose: "true"
spec:
  type: LoadBalancer
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
    protocol: TCP
