apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
- namespace.yaml

helmCharts:
- name: kube-prometheus-stack
  repo: https://prometheus-community.github.io/helm-charts
  version: 79.6.1
  releaseName: kube-prometheus-stack
  namespace: monitoring
  includeCRDs: true
  valuesFile: values.yaml
