apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: alloy

resources:
- namespace.yaml

helmCharts:
- name: alloy
  repo: https://grafana.github.io/helm-charts
  version: 1.5.1
  releaseName: alloy
  namespace: alloy
  valuesFile: values.yaml

configMapGenerator:
- name: alloy-config
  files:
  - config.alloy
  options:
    disableNameSuffixHash: true

patches:
- target:
    kind: DaemonSet
    name: alloy
  patch: |-
    - op: add
      path: /metadata/annotations
      value:
        configmap.reloader.stakater.com/reload: "alloy-config"
