name: Test self-hosted runners macOS

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Get info
      run: |
        pwd
        uname -a
        brew -v

  job2:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    
    - name: Get info
      run: |
        pwd
        uname -a
        brew -v
